 html, 
 body {
    margin: 0px;
    padding: 0;
    background-image: url("../img/catdog_background.png");
}

#btn-animate {
    margin: 15px;
}

.box {
    margin-top: 200px;
    margin-left: 15px;
    height: 250px;
    position: relative;
    width: 500px;
}
