
/*----------ID's----------*/

#map-canvas { 

	width: 1000px;
	height: 500px; 
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

#map-title {
	color: white;
	font-size: 40px;
	width: 416px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}
/*----------ELEMENTS----------*/

body {
	background-color: black;
}