
/*----------ID's----------*/

#map-canvas { 
	width: 500px;
	height: 500px; 
	/*border: 1px solid black;*/
	margin: 25px 25px 0px 0px;
	float: right;
	clear: both;
	color: #000000;
}

#map-title {
	float: right;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 75px;
}
/*----------ELEMENTS----------*/

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	padding: 5px;
	margin: 5px;
}

h1, h2 {
	color: #FFFFFF;
	text-decoration: underline;
	font-family: 'Pacifico', cursive;
	font-weight: 400;
}

body {
	background-color: #FFFFEB;
	font-family: 'Indie Flower', cursive;
	background-image: url(../img/congruent_outline.png);
	background-attachment: fixed;
	color: #ffffff;
}

ul {
	list-style: circle;
}

ol {
	list-style: lower-alpha;
}

table, th , td {
	border: 1px solid white;
	padding: 0px;
}

tr {
	text-align: center;
}

/*----------PSEUDO CLASSES----------*/

a:link{
	color: #ffffff;
	text-decoration: none;
}

a:visited{
	color: #ff6600;
}
	color: #FFFFFF;
}

a:active{
	color: #FFFF00;
}

/*----------CLASSES----------*/

.border-box {
	box-sizing: border-box;
	width: 600px;
	height: auto;
}