html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

header {
	font-size: 28px;
}

body {
	background-color: #e1e1e1;
}

aside {
	background-color: white;
	border-radius: 20px;
	border: 3px solid black;
	text-align: center;
}

footer {
	display: inline;
}

section > ul {
	list-style: none;
	display: inline;
	margin: 0px;
}

/*----------CLASSES----------*/

.top_nav_bar {
	text-align: center;
	background-color: #757475;
	color: white;
	border: 3px dotted black;
}

.sidebar {
	background-color: #757475;
	color: white;
	border: 3px dotted black;
}

.footer {
	display: inline;
}